# This service is for trending data from the past year(s)

[Unit]
Description=trending data from past year (service)
Wants=bups.trend.year.timer

[Service]
Type=oneshot
User=pi
ExecStart=/home/pi/bups/bin/pastyear.sh -
